
<h1 class="mt-5 mb-5 header">Update product</h1>

<% if(errorMessage){ %>
  <div class="alert alert-danger" role="alert">
    <%= errorMessage %>
  </div>
<% } %>


<form action="/updateproduct/" method="post">

    <input type="hidden" class="form-control" id="id" name="id" value="<%= product.id %>">

    <div class="mb-3">
      <label for="name" class="form-label">Product Name</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= product.name %>">
      
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">Product Description</label>
     <textarea class="form-control" name="description" id="description" rows="3"><%= product.description %></textarea>
   
        
      </div>
 

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" name="price" value="<%= product.price %>">
    
        
      </div>

      <div class="mb-3">
        <label for="imageurl" class="form-label">Image Url</label>
        <input type="url" class="form-control" id="imageUrl" name="imageUrl" value="<%= product.imageUrl %>">
    
        
      </div>
  
    <button type="submit" class="btn btn-primary">Update Product</button>
  </form>